{
padding: 0em;
margin: 0em;
}

body
{
	background: #000000 url('img/bg.jpg');
	padding-top: 5em;
	padding-bottom: 5em;
}

body,input
{
	font-family: Verdana, Geneva, sans-serif;
	color: #333333;
}

p
{
line-height: 1.5em;
margin-bottom: 1.0em;
text-align: justify;
}

a
{
color: #B96D00;
text-decoration: underline;
}

a:hover
{
text-decoration: none;
}


h3 span
{
font-weight: normal;
}

h3,h4
{
display: inline;
font-weight: bold;
background-repeat: no-repeat;
background-position: right;
}

h3
{
	font-size: 1.7em;
	color: #263F08;
}

h4
{
font-size: 1.2em;
padding-right: 28px;
background-image: url('img/db2.gif');
}

.contentarea
{
padding-top: 1.3em;
}

img
{
	margin: 0px;
	padding: 0px;
}

img.left
{
position: relative;
float: left;
margin: 0em 1.8em 1.4em 0em;
}

img.right
{
position: relative;
float: right;
margin: 0em 0em 1.8em 1.8em;
}

.divider1
{
position: relative;
background: #fff url('img/border2.gif') repeat-x;
height: 14px;
margin: 2.0em 0em 1.5em 0em;
clear: both;
}

.divider2
{
position: relative;
height: 1px;
border-bottom: solid 1px #eaeaea;
margin: 2.0em 0em 2.0em 0em;
}

.post .details
{
position: relative;
top: -1.5em;
font-size: 0.8em;
color: #787878;
}

.post ul.controls
{
clear: both;
}

.post ul.controls li
{
display: inline;
font-size: 0.8em;
}

.post ul.controls li a
{
background-repeat: no-repeat;
background-position: left;
padding: 0em 1.0em 0em 20px;
}

.post ul.controls li a.printerfriendly
{
background-image: url('img/icon-printerfriendly.gif');
}

.post ul.controls li a.comments
{
background-image: url('img/icon-comments.gif');
}

.post ul.controls li a.more
{
background-image: url('img/icon-more.gif');
}

.box
{
position: relative;
background: #FDFCF6 url('img/boxbg.gif') repeat-x;
left: -1.5em;
top: -1.5em;
padding: 1.5em;
border-bottom: solid 1px #E1D2BD;
margin-bottom: 1.0em;
}

ul.linklist
{
list-style: none;
}

ul.linklist li
{
line-height: 2.0em;
}
#container
{
	z-index: 2;
	position: relative;
	width: 80%;
	border: 7px solid #3D2E0F;
	margin: 0 auto;
	background: #fff;
}
.navigation {
	background: #fff;
	height: 63px;
}
.navigation a {
	color: #56A39D;
	float: right;
	text-align: center;
	text-decoration: none;
	padding: 0em 0.5em 2em 0.5em;
	margin: 0em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	background-image: url(img/nav_bg2.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}
.navigation a:hover {
	background-image: url(img/nav_bg1.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}
.navigation a.current {
	background-image: url(img/nav_bg1.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	color: #3D2E0F;
}
.navigation a.endcap {
	background-image: url(img/nav_bg3.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	color: #3D2E0F;
	width: 50px;
}
#search
{
position: absolute;
top: 5.5em;
right: 2.0em;
padding-right: 0.0em;
}

#search input.text
{
margin-right: 0.5em;
vertical-align: middle;
border-top: solid 1px #000000;
border-right: 0px;
border-bottom: solid 1px #777777;
border-left: 0px;
padding: 0.15em;
width: 10.0em;
}

#search input.submit
{
background: #939B00 url('img/buttonbg.gif') repeat-x;
border: solid 1px #5F6800;
font-weight: bold;
padding: 0.25em;
font-size: 0.8em;
color: #F2F3DE;
vertical-align: middle;
}
#headerbg
{
	position: relative;
	height: 225px;
	background-image: url(img/header_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
#headerpic {
	background-image: url(img/header.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 225px;
	position: relative;
}


#menubottom
{
background: #fff url('img/border1.gif') repeat-x;
height: 14px;
margin-bottom: 1.5em;
}

#content
{
padding: 0em 2.0em 0em 2.0em;
}

#primarycontainer
{
float: left;
margin-right: -18.0em;
width: 100%;
}

#primarycontent
{
margin: 1.5em 22.0em 0em 0em;
}

#secondarycontent
{
margin-top: 1.5em;
float: right;
width: 18.0em;
}

#footer
{
	position: relative;
	height: 3em;
	clear: both;
	padding-top: 2em;
	font-size: 0.8em;
	background-color: #fff;
	background-image: url(img/divider3.jpg);
	background-repeat: repeat-x;
	margin-right: 7px;
	margin-left: 7px;
}

#footer .left
{
position: absolute;
left: 2.0em;
bottom: 1.2em;
}

#footer .right
{
position: absolute;
right: 2.0em;
bottom: 1.2em;
}
