html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background: #fff url(img/bg_body.jpg) repeat-x top left;
	font: 16px/130% Tahoma, Geneva, sans-serif;
	color: #222;
}
#wrapper {
	width: 1100px;
	margin: 0 auto;
	padding: 0;
}
#left {
	width: 650px;
	margin: 0;
	padding: 0;
	float: left;
	background: url(img/head_left.jpg) no-repeat top left;
}
#left_content {
	margin: 0;
	padding: 0 0 250px 110px;
}
#left_content p {
	margin: 10px 0 20px 0;
	padding: 0;
}
#right {
	width: 450px;
	margin: 0;
	padding: 0;
	float: right;
	background: url(img/bg_nav.jpg) repeat-y top right;
}
#right_logo {
	margin: 0;
	padding: 45px 0 25px 60px;
	background: url(img/head_right.jpg) no-repeat top right;
}
#right_content {
	margin: 15px 45px 105px 40px;
	padding: 0;
	color: #055069;
}
#right_cap {
	width: 250px;
	margin: 0;
	padding: 10px 100px;
	background: url(img/nav_cap.jpg) no-repeat bottom right;
	font-size: 12px;
}
#right_content h1 {
	margin: 0 0 6px 0;
	padding: 0;
	font: bold 16px Verdana, Geneva, sans-serif;
	color: #222;
}
#right_content dl {
	margin: 10px 0;
	padding: 0;
}
#right_content dl dt {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
#right_content dl dd {
	margin: 0 0 10px 20px;
	padding: 0;
}
#right_content p {
	margin: 0 0 10px 0;
	padding: 0;
}
#right_content ul {
	margin: 4px 0 10px 20px;
	padding: 0;
	list-style: none;
}
#right_content a.nav {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
#footer {
	width: 540px;
	margin: 0;
	padding: 20px 450px 0 110px;
	float: left;
	font-size: 12px;
}
#news {
	width: 250px;
	margin: 0 0 10px 10px;
	padding: 0 10px;
	float: right;
	border: 1px solid #055069;
	font-size: 12px;
	color: #055069;
}
#news p {
	margin: 5px 0 10px 0;
	padding: 0;
}
#news h1 {
	margin: 5px 0 10px 0;
	padding: 0;
	text-align: center;
	font-size: 14px;
}
.clear {
	clear: both;
	line-height: 0;
	height: 0;
}
a, a:visited {
	color: #cd2000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	border: none;
}
table {
	table-layout: fixed;
	border-collapse: collapse;
}